.create-itinerary-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3% auto 0;
  max-width: 600px;
}

.pictures {
  bottom: 30px;
  display: flex;
  height: 25vh;
  max-height: 175px;
  overflow: hidden;
  position: fixed;
  img {
    object-fit: cover;
    object-position: center;
    width: calc(100% / 6);
  }
}
