body {
  padding-bottom: 200px;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2% auto 0;
  max-width: 700px;
}

.pictures {
  bottom: 30px;
  display: flex;
  height: 50vh;
  max-height: 250px;
  overflow: hidden;
  position: fixed;
  img {
    object-fit: cover;
    object-position: center;
    width: calc(100% / 6);
  }
}
