.display-map {
  height: 50vh;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.location-marker {
  align-items: center;
  background: grey;
  border-radius: 100%;
  color: white;
  display: inline-flex;
  padding: 15px 10px;
  text-align: center;
  justify-content: center;
  transform: translate(-50%, -50%)
}
