$black: #000;

.edit-button {
  margin-right: 5px;
  margin-top: 4px;
}

.delete-button {
  margin-top: 4px;
}

.itinerary-table {
  td,
  th,
  tr {
    border: 1px solid $black;
    border-collapse: collapse;
    border-spacing: 5px;
    margin-bottom: 3px;
    padding: 10px;
  }
}

.view-itineraries-section {
  margin-top: 60px;
  margin-left: 80px;
}

h5 {
  margin-top: 1.5rem;
}
