.pictures {
  display: flex;
  flex: auto;
  bottom: 30px;
  display: flex;
  height: 50vh;
  max-height: 250px;
  overflow: hidden;
  position: fixed;
  img {
    object-fit: cover;
    object-position: center;
    width: calc(100% / 6);
  }
}
.auth-form {
  font-size: 15px;
}
